<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="UTF-8">
    <title>Consejos de Salud para Mascotas</title>
  </head>
  <body>
    <header>
      <h1>Consejos de Salud para Mascotas</h1>
    </header>
    <nav>
      <ul>
        <li style="display: inline-block"><a href="index.html">Inicio</a></li>
        <li style="display: inline-block"><a href="Productos.html">Productos</a></li>
        <li style="display: inline-block"><a href="Consejos_de_salud.html">Consejos de Salud</a></li>
        <li style="display: inline-block"><a href="Servicio_de_paseos.html">Servicio de Paseos</a></li>
        <li style="display: inline-block"><a href="Sucursales.html">Sucursales</a></li>
        <li style="display: inline-block"><a href="Contactanos.html">Contáctanos</a></li>
      </ul>
    </nav>
    <section>
      <article>
        <h2>Alimentación Balanceada</h2>
        <p>Es importante asegurarse de que tu mascota esté recibiendo una dieta equilibrada y adecuada para su especie, edad, tamaño y nivel de actividad. Consulta con tu veterinario para determinar la mejor dieta para tu mascota.</p>
      </article>
      <article>
        <h2>Ejercicio Regular</h2>
        <p>Mantener a tu mascota activa es esencial para su salud y bienestar. Asegúrate de que tu mascota reciba suficiente ejercicio diario para mantenerla en forma y prevenir problemas de salud relacionados con la inactividad.</p>
      </article>
      <article>
        <h2>Cuidado Dental</h2>
        <p>El cuidado dental adecuado es importante para prevenir enfermedades en las encías y otros problemas de salud oral en tu mascota. Consulta con tu veterinario para obtener recomendaciones sobre cómo cepillar los dientes de tu mascota y mantener su higiene oral.</p>
      </article>
    </section>
    <footer>
      <p>Derechos de autor © 2023 - Pet strore - Diseñado por Grupo 45 - Jujuy - República Argentina</p>
    </footer>
  </body>
</html>
