<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contactenos</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
	</head>
	<body>	
		<header th:replace="~{layouts/header :: header}"></header>
	 	<nav th:replace="~{layouts/nav :: nav}"></nav>
		
			<h1>Contactenos</h1>
			<p>3915 Av. General Belgrano, 388-499999<br>
				Lunes a Viernes: 9:00 a. m. a 8:00 p. m.,<br>
				Sabado a domingo: 9:00 a. m. a 12:30 p. m.<br>
				contactos@mail.com.ar</p>
			<ul>
				<li>Facebook: <a href="https://www.facebook.com/">facebook.com</a></li>
				<li>Instagram: <a href="https://www.instagram.com/">instagram.com</a></li>
				<li>Twitter: <a href="https://www.twitter.com/">twitter.com</a></li>
			</ul>
		<form action="#" method="post">
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre" name="nombre"><br>
			<label for="email">Email:</label>
			<input type="email" id="email" name="email"><br>
			<label for="ciudad">Ciudad:</label>
			<input type="text" id="ciudad" name="ciudad"><br>
			<label for="mensaje">Mensaje:</label>
			<textarea id="mensaje" name="mensaje"></textarea><br>
			<input type="submit" value="Enviar">
		</form>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>