<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
	</head>
	
	<body>
		<div class="container-sm">
		<h1>Articulos para Mascotas en general</h1>
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<div class="row">
			<section class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
    			<br></br>
    			<!-- Enlace para crear un nuevo articulo -->

    		<!-- <a class="btn btn-primary" th:href="@{/nuevo}">Nuevo Articulo</a>-->

    			
    			<!-- En la siguiente etiqueta article se visualizan los articulos guardados, junto con su correspondiete 
    			opcion de editar o eliminar articulo -->
    			
      			<article th:each="arti : ${articulos}">
        		<p th:text="${arti.articulo}" > </p>
        		<div style="display: inline;"> 
        		<h6>
        		<span th:with="formattedDate=${#temporals.format(arti.fechaArticulo, 'dd/MM/yyyy')}" th:text="'Fecha del articulo '+${formattedDate}"></span>

        		<span  th:text="' Cod. del Articulo '+${arti.codigo}"></span></h6>
        		</div>
        		<!--<a class="btn btn-secondary" th:href="@{/modificar/}+${arti.codigo}">Editar Articulo</a>-->
               <!-- <a class="btn btn-danger" th:href="@{/eliminar/}+${arti.codigo}">Eliminar Articulo</a>-->
      			</article>
      						<article>

				Nuestro objetivo es proporcionar productos de alta calidad para satisfacer 
				las necesidades de los dueños de mascotas y mejorar la calidad de vida de los 
				animales. Esto incluye ofrecer una amplia variedad de alimentos para mascotas, 
				desde alimentos secos hasta húmedos, así como juguetes, camas y otros accesorios.
			</article>
			<article>

				Además, la empresa puede ofrecer servicios como consultas nutricionales para 
				ayudar a los dueños de mascotas a elegir los mejores alimentos y productos para 
				sus animales.
			</article>
			<article>
				 El objetivo final es mejorar la salud y la felicidad de las mascotas, 
				 lo que a su vez aumenta la satisfacción de los clientes y la rentabilidad de 
				 la empresa.
			</article>
    		</section>
    		<!-- Incluye al aside layouts -->

			<aside class="col-xs-12 col-sm-12 col-md-4 col-lg-4" th:replace="~{layouts/aside :: aside}">


			
    		</aside>
  		</div>
		</div>
		<p></p>
		<footer class="row fila justify-content-center" th:replace="~{layouts/footer :: footer}"></footer>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>



	</body>
</html>