<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
	<title>Inicio</title>
	</head>

	<body>
		<nav>
  			<ul>
   			<li style="display: inline-block"><a href="index.html">Inicio</a></li>
    		<li style="display: inline-block"><a href="productos.html">Productos</a></li>
    		<li style="display: inline-block"><a href="Consejos_de_salud.html">Consejos de salud</a></li>
    		<li style="display: inline-block"><a href="Servicio_de_paseos.html">Servicio de paseos</a></li>
    		<li style="display: inline-block"><a href="Sucursales.html">Sucursales</a></li>
    		<li style="display: inline-block"><a href="Contactanos.html">Contáctanos</a></li>
  			</ul>
		</nav>

		<header>
			<h1>Tienda de articulos para mascotas</h1>
			<img src="../static/images/petstore.jpg" alt="PetStore" title="PetStore">
		</header>
		<h1>Pagina 1</h1>
		<p>Parrafo</p>
		<section>
			<article>
				Nuestro objetivo es proporcionar productos de alta calidad para satisfacer 
				las necesidades de los dueños de mascotas y mejorar la calidad de vida de los 
				animales. Esto incluye ofrecer una amplia variedad de alimentos para mascotas, 
				desde alimentos secos hasta húmedos, así como juguetes, camas y otros accesorios.
			</article>
			<article>
				Además, la empresa puede ofrecer servicios como consultas nutricionales para 
				ayudar a los dueños de mascotas a elegir los mejores alimentos y productos para 
				sus animales.
			</article>
			<article>
				 El objetivo final es mejorar la salud y la felicidad de las mascotas, 
				 lo que a su vez aumenta la satisfacción de los clientes y la rentabilidad de 
				 la empresa.
			</article>
		</section>
		<aside>
			<article>
				Accedé a la más amplia variedad de productos al mejor precio del mercado:
				¡Alimento balanceado, accesorios, golosinas, juguetes y mucho más!
				Recibilos en la comodidad de tu hogar en cualquier punto del país o retiralos
				 en tu sucursal preferida.
			</article>
			<article>
				Dias de vacunacion
				Nos enfocamos en la prevención, impulsando los mejores hábitos 
				para su bienestar general.
				Para ello contamos con profesionales veterinarios experimentados 
			</article>
		</aside>
		<footer>
			<p>
				Copyright 2023 - Nombre del sitio - Diseñado por Grupo 45 – Jujuy – República Argentina
			</p>
		</footer>

	</body>


</html>
