<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
	</head>
	
	<body>
		<div class="container-sm">
		<h1>Articulos para Mascotas en general</h1>
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		<div class="row">
			<section class=" col-7">
    			<br></br>
    			<!-- Enlace para crear un nuevo articulo -->
    			<a class="btn btn-primary" th:href="@{/nuevo}">Nuevo Articulo</a>
    			
    			<!-- En la siguiente etiqueta article se visualizan los articulos guardados, junto con su correspondiete 
    			opcion de editar o eliminar articulo -->
    			
      			<article th:each="arti : ${articulos}">
        		<p th:text="${arti.articulo}" > </p>
        		<div style="display: inline;"> 
        		<h6>
        		<span th:with="formattedDate=${#temporals.format(arti.fechaArticulo, 'dd/MM/yyyy')}" th:text="'Fecha del articulo '+${formattedDate}"></span>

        		<span  th:text="' Cod. del Articulo '+${arti.codigo}"></span></h6>
        		</div>
        		<a class="btn btn-secondary" th:href="@{/modificar/}+${arti.codigo}">Editar Articulo</a>
                <a class="btn btn-danger" th:href="@{/eliminar/}+${arti.codigo}">Eliminar Articulo</a>
      			</article>
    		</section>
    		<!-- Incluye al aside layouts -->
			<aside class="col-4" th:replace="~{layouts/aside :: aside}">
			
    		</aside>
  		</div>
		</div>
		<p></p>
		<footer class="row fila justify-content-center" th:replace="~{layouts/footer :: footer}"></footer>
		<script type="text/javascript"
		th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
	</body>
</html>