<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo_Producto</title>
        <!-- Enlace al archivo CSS de Bootstrap -->
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
        <!-- Enlace al archivo CSS personalizado -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>
<body>
    <div class="container">
        <h1 class="mt-4" th:text="${edicion} ? 'Modificar Producto' : 'Nuevo Producto'"></h1>
        <!-- Incluye el header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- Incluir la barra de navegación -->
        <nav th:replace="~{layouts/nav :: nav}"></nav>

        <div class="row">
            <div class="col-md-7">
            <!-- Formulario para crear o modificar un producto -->
                <form th:action="${edicion} ? @{/productos/modificar} : @{/productos/guardar}" th:object="${producto}" method="post" id="mi-tabla">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}">
                        <!-- Mostrar mensajes de error para el campo "nombre" -->
                        <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
                    </div>
                    <div class="form-group" hidden>
                        <label for="codigo">Código:</label>
                        <input type="number" class="form-control" id="codigo" name="codigo" th:field="*{id}">
                        <!-- Mostrar mensajes de error para el campo "codigo" -->
                        <div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio:</label>
                        <input type="number" step="0.01" class="form-control" id="precio" name="precio" th:field="*{precio}">
                        <!-- Mostrar mensajes de error para el campo "precio" -->
                        <div class="text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoría:</label>
                        <select class="form-control" id="categoria" name="categoria" th:field="*{categoria}">
                            <!-- Opciones de categoría -->
                            <option value=""></option>
                            <option value="Alimento">Alimento</option>
                            <option value="Ropa">Ropa</option>
                            <option value="Camas y Colchones">Camas y Colchones</option>
                            <option value="Correas">Correas</option>
                            <option value="Jaulas,Casas,Peceras">Jaulas,Casas,Peceras</option>
                            <option value="Vestimenta">Vestimenta</option>
                            <option value="Cuidado">Cuidado</option>
                        </select>
                        <div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
                    </div>
                    <div class="form-group">
                        <label for="nombreImagen">Nombre de la Imagen:</label>
                        <select class="form-control" id="nombreImagen" name="nombreImagen" th:field="*{nombreImagen}">
                       <!-- Opciones de nombre de imagen -->
                        <option value=""></option>
                            <option value="/images/Buzo_para_perros.jpg">Buzo para perros</option>
                            <option value="/images/moises_mascota.jpeg">Moises Mascota</option>
                            <option value="/images/mochila_pokemon.jpg">Mochila Pokemon</option>
                            <option value="/images/set_paseo_pitbull.jpg">Paseo Pitbull</option>
                            <option value="/images/whiskas.jpg">Whiskas</option>
                            <option value="/images/gaiola_hamster.jpg">Gaiola Hamster</option>
                        </select>
                        <div class="text-danger" th:if="${#fields.hasErrors('nombreImagen')}" th:errors="*{nombreImagen}"></div>
                    </div>
                    <div class="form-group">
                        <label for="descuento">Descuento:</label>
                        <!-- Campo para el descuento -->
                        <input type="number"  class="form-control" id="descuento" name="descuento" th:field="*{descuento}">
                        <!-- Mostrar mensajes de error para el campo "descuento" -->
                        <div class="text-danger" th:if="${#fields.hasErrors('descuento')}" th:errors="*{descuento}"></div>
                    </div>
                     <!-- Botón para enviar el formulario -->
                    <button type="submit" class="btn btn-primary" th:text="${edicion} ? 'Modificar' : 'Guardar'"></button>
                </form>
            </div>
            <!-- Incluye al aside layouts -->
            <aside class="col-4" th:replace="~{layouts/aside :: aside}">
			
    		</aside>
            </div>
        </div>
        
        
    </div>
    <!-- Incluye el footer -->
	<footer class="row fila justify-content-center" th:replace="~{layouts/footer :: footer}"></footer>
	<!-- Incluye el archivo JavaScript de Bootstrap -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
