<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Nuevo servicio</title>
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>

<body>
	<div class="container">
	
		<h1>Nuestros servicios</h1>
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>

		<div class="row">
			<section class="col-xl-8 col-lg-8">
				<div class="mt-3">

				<form th:action="${edicion}?@{/sucursales/modificar}:@{/sucursales/guardar}" th:object="${sucursal}" method="post"
					class="text-dark formulario-servicios-dentro">

					<!-- DIV CAMPO SUCURSAL -->
					<div
						class="row mb-md-1  col-lg-12  col-sm-12 justify-content-start ms-3 ">
						<div class="col-lg-2 col-sm-3 align-self-start">
							<label for="nombreSucursal" class="form-label">Nombre sucursal: </label>
						</div>

						<div class="col-xl-4 col-lg-4 col-sm-6 align-self-center">
							<input type="text" class="form-control" id="nombreSucursal"
								th:field="*{nombreSucursal}">
							<p class="form-text text-danger"
								th:if="${#fields.hasErrors('nombreSucursal')}" th:errors="*{nombreSucursal}" />
						</div>

					</div>


					<!-- DIV CAMPO DIRECCION -->
					<div
						class="row mb-md-1  col-lg-12  col-sm-12 justify-content-start ms-3 ">
						<div class="col-lg-2 col-sm-3 align-self-start">

							<label for="direccion" class="form-label">Direccion: </label>
						</div>

						<div class="col-lg-4 col-sm-6 align-self-center">
							<input type="text" class="form-control" id="direccion"
								th:field="*{direccion}">

							<p class="form-text text-danger"
								th:if="${#fields.hasErrors('direccion')}"
								th:errors="*{direccion}" />

						</div>


					</div>


					<!-- DIV CAMPO TELEFONO -->
						<div
						class="row mb-md-1  col-lg-12  col-sm-12 justify-content-start ms-3 ">
						<div class="col-lg-2 col-sm-3 align-self-start">
							<label for="telefono" class="form-label">Telefono: </label>
						</div>

						<div class="col-lg-4 col-sm-6 align-self-center">
							<input type="text" class="form-control" id="telefono"
								th:field="*{telefono}">

							<p class="form-text text-danger"
								th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" />

						</div>

					</div>


			<!-- DIV CAMPO EMAIL -->
						<div
						class="row mb-md-1  col-lg-12  col-sm-12 justify-content-start ms-3 ">
						<div class="col-lg-2 col-sm-3 align-self-start">
							<label for="email" class="form-label">Email: </label>
						</div>

						<div class="col-lg-4 col-sm-6 align-self-center">
							<input type="text" class="form-control" id="email"
								th:field="*{email}">

							<p class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />

						</div>

					</div>


					<!-- DIV CAMPO HORARIO -->
				<div
						class="row mb-md-1  col-lg-12  col-sm-12 justify-content-start ms-3 ">

						<div class="col-lg-2 col-sm-3 align-self-start">
							<label for="horaLunesViernes" class="form-label">Horario Lunes a Viernes:</label>
						</div>

						<div class="col-lg-4 col-sm-6 align-self-center">
							<input type="text" class="form-control" id="horaLunesViernes"
								th:field="*{horaLunesViernes}">

							<p class="form-text text-danger"
								th:if="${#fields.hasErrors('horaLunesViernes')}" th:errors="*{horaLunesViernes}" />
						</div>

					</div>


					<!-- DIV CAMPO HORARIO SABADOS -->
							<div
						class="row mb-md-1  col-lg-12  col-sm-12 justify-content-start ms-3 ">

						<div class="col-lg-2 col-sm-3 align-self-start">
							<label for="horaSabados" class="form-label">Horarios Sabado:</label>
						</div>

						<div class="col-lg-4 col-sm-6 align-self-center">
							<input type="text" class="form-control" id="horaSabados"
								th:field="*{horaSabados}">

							<p class="form-text text-danger"
								th:if="${#fields.hasErrors('horaSabados')}" th:errors="*{horaSabados}" />
						</div>

					</div>


					<!-- DIV CAMPO CODIGO SUCURSAL -->

						<div
						class="row mb-md-1  col-lg-12  col-sm-12 justify-content-start ms-3 ">

						<div class="col-lg-2 col-sm-3 align-self-start">
							<label for="codigoSucursal" class="form-label">Codigo Sucursal: </label>
						</div>

						<div class="col-lg-4 col-sm-6 align-self-center">
							<input type="number" class="form-control" id="codigoSucursal"
								th:field="*{codigoSucursal}">

							<p class="form-text text-danger"
								th:if="${#fields.hasErrors('codigoSucursal')}" th:errors="*{codigoSucursal}" />
						</div>

					</div>
						<!-- DIV CAMPO CANTIDAD DE EMPLEADOS -->

						<div
						class="row mb-md-1  col-lg-12  col-sm-12 justify-content-start ms-3 ">

						<div class="col-lg-2 col-sm-3 align-self-start">
							<label for="cantidadEmpleados" class="form-label">Cantidad de empleados: </label>
						</div>

						<div class="col-lg-4 col-sm-6 align-self-center">
							<input type="number" class="form-control" id="cantidadEmpleados"
								th:field="*{cantidadEmpleados}">

							<p class="form-text text-danger"
								th:if="${#fields.hasErrors('cantidadEmpleados')}" th:errors="*{cantidadEmpleados}" />
						</div>

					</div>

					<!-- DIV CAMPO FECHA DE INICIO -->

							<div
						class="row mb-md-1  col-lg-12  col-sm-12 justify-content-start ms-3 ">
						
						<div class="col-lg-2 col-sm-3 align-self-start">
							<label for="fechaInicio" class="form-label">Fecha de
								inicio:</label>

						</div>

							<div class="col-lg-4 col-sm-6 align-self-center">
							<input type="date" class="form-control" id="fechaInicio"
								th:field="*{fechaInicio}">
							<p class="form-text text-danger"
								th:if="${#fields.hasErrors('fechaInicio')}"
								th:errors="*{fechaInicio}" />
						</div>

					</div>



					<div class="d-flex justify-content-center mt-lg-3 mt-md-1 mt-sm-1">
						<button type="submit"
							class="btn btn-sm btn-outline-secondary formulario-consejo-boton-color mb-lg-4 mb-md-3 mb-sm-3"
							th:text="${edicion}?'Modificar':'Guardar'"></button>
					</div>


				</form>
				<!-- FORMULARIO DE NUEVA SUCURSAL -->


			</div>
			<!-- FIN DEL DIV QUE ENVUELVE TODO EL FORMULARIO -->
				
				
			</section>
			<!-- Incluye al aside layouts -->
			<aside class="col-4" th:replace="~{layouts/aside :: aside}">
			
    		</aside>
		</div>
	</div>
	<p></p>
	
	<footer class="row fila justify-content-center"
		th:replace="~{layouts/footer :: footer}"></footer>
		
		
	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>



</body>
</html>