<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo_Articulo</title>
    <!-- Incluye el archivo css de Bootstrap -->
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <!-- Incluye el archivo css del grupo -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>
<body>
    <div class="container">
        <!-- Título de la página --> 
        <h1 class="mt-4" th:text="${edicion} ? 'Modificar Articulo' : 'Articulo'"></h1>
        <!-- Incluir el header -->
        <header th:replace="~{layouts/header :: header}"></header>
        <!-- Incluye la barra de navegación -->
        <nav th:replace="~{layouts/nav :: nav}"></nav>

        <div class="row">
            <div class="col-md-7">
                <!-- Formulario para crear o modificar un artículo ${edicion} ? @{/modificar} :-->
                <form th:action=" @{/guardar}" th:object="${articulo}" method="post" id="mi-tabla">
                    <div class="form-group">
                        <label for="articulo">Nombre:</label>
                        <input type="text" class="form-control" id="articulo" name="articulo" th:field="*{articulo}">
                        <!-- Mostrar mensajes de error para el campo "articulo" -->
                        <div class="text-danger" th:if="${#fields.hasErrors('articulo')}" th:errors="*{articulo}"></div>
                    </div>
                     <div class="form-group" hidden>
                        <label for="codigo">Código:</label>
                        <input type="number" class="form-control" id="codigo" name="codigo" th:field="*{id}">
                        <!-- Mostrar mensajes de error para el campo "codigo" -->
                        
                    </div>
                   <div class="form-group">
                        <label for="fechaArticulo">Fecha Articulo:</label>
                        <input type="date" class="form-control" id="fechaArticulo" name="fechaArticulo" th:field="*{fechaArticulo}">
                        <!-- Mostrar mensajes de error para el campo "codigo" -->
                        <div class="text-danger" th:if="${#fields.hasErrors('fechaArticulo')}" th:errors="*{fechaArticulo}"></div>
                    </div>
                    <!-- Botón para enviar el formulario -->
                    <button type="submit" class="btn btn-primary" th:text=" 'Guardar'"></button>
                </form>
            </div>
            <!-- Incluye al aside layouts -->
            <aside class="col-4" th:replace="~{layouts/aside :: aside}">
			
    		</aside>
        </div>
        
        
    </div>
    <!-- Incluye el footer -->
	<footer class="row fila justify-content-center" th:replace="~{layouts/footer :: footer}"></footer>
	<!-- Incluye el archivo JavaScript de Bootstrap -->
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
