<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="UTF-8">
	    <title>Productos</title>
	    <link rel="stylesheet" href="../static/css/estilos.css">
	</head>
	
	<body>
	    <header>
	        <h1>Productos</h1>
	        <img src="../static/images/petstore.jpg" alt="PetStore" title="PetStore"> 
	        <nav>
	            <ul>
	                <li><a href="index.html">Inicio</a></li>
	                <li><a href="productos.html">Productos</a></li>
	                <li><a href="consejos.html">Consejos de salud</a></li>
	                <li><a href="paseos.html">Servicio de paseos</a></li>
	                <li><a href="sucursales.html">Sucursales</a></li>
	                <li><a href="contacto.html">Contacto</a></li>
	            </ul>
	        </nav>
	    </header>
	    <main>
	        <section>
	            <h2>Nuestros productos</h2>
	            <ul>
	                <li>
	                	<h3>Ropa</h3>
	                    <p>Buzo para perro, 100% algodon $6.500</p>
	                    <img src="../static/images/Buzo_para_perros.jpg" alt="Buzo" title="Buzo">
	                </li>
	                <li>
	                	<h3>Camas y Colchones</h3>
	                    <p>Moises (con almohadón, plato y pelota) $4.500</p>
	                    <img src="../static/images/moises_mascota.jpeg" alt="Moises" title="Moises">
	                </li>
	                <li>
	                	<h3>Mochilas, Bolsos y Transportadores</h3>
	                    <p>Mochila tipo burbuja (Pokemon)</p>
	                    <img src="../static/images/mochila_pokemon.jpg" alt="Mochila" title="Mochila">
	                </li>
	                <li>
	                	<h3>Correas</h3>
	                    <p>Set de paseo reforzado (modelo pitbull) $11.000</p>
	                    <img src="../static/images/set_paseo_pitbull.jpg" alt="Set_Paseo" title="Set_Paseo">
	                </li>
	                <li>
	                	<h3>Alimentos</h3>
	                    <p>Alimento para gatos, marca Whiskas $5.000</p>
	                    <img src="../static/images/whiskas.jpg" alt="Whiskas" title="Whiskas">
	                </li>
	                <li>
	                	<h3>Jaulas, Casas, Peceras</h3>
	                    <p>Jaula gaiola para hamsters $13.500</p>
	                    <img src="../static/images/gaiola_hamster.jpg" alt="Gaiola" title="Gaiola">
	                </li>
	            </ul>
	        </section>
	    </main>
	    <footer>
	        <p>Copyright 2023 - Petstore - 
	        Diseñado por Grupo 45 – Jujuy – República Argentina</p>
	    </footer>
	</body>
</html>
