<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Servicios de paseos</title>
</head>
<body>
	<nav>
      <ul>
        <li style="display: inline-block"><a href="index.html">Inicio</a></li>
        <li style="display: inline-block"><a href="Productos.html">Productos</a></li>
        <li style="display: inline-block"><a href="Consejos_de_salud.html">Consejos de Salud</a></li>
        <li style="display: inline-block"><a href="Servicio_de_paseos.html">Servicio de Paseos</a></li>
        <li style="display: inline-block"><a href="Sucursales.html">Sucursales</a></li>
        <li style="display: inline-block"><a href="Contactanos.html">Contáctanos</a></li>
      </ul>
    </nav>
	<table border="1">
  <tr>
    <th>Dia</th>
    <th>Lunes</th>
    <th>Martes</th>
    <th>Miércoles</th>
    <th>Jueves</th>
    <th>Viernes</th>
    <th>Sábado</th>
  </tr>
  <tr>
    <td>Horarios</td>
    <td>9 a 12 - 16 a 18</td>
    <td>9 a 12 - 16 a 18</td>
    <td>9 a 12 - 16 a 18</td>
    <td>9 a 12 - 16 a 18</td>
    <td>9 a 12 - 16 a 18</td>
    <td>9 a 12 - 16 a 18</td>
  </tr>
  <tr>
    <td>Paseador</td>
    <td>Juan Perez</td>
    <td>Lucas Diaz</td>
    <td>Juan Perez</td>
    <td>María Gomez</td>
    <td>Lucas Diaz</td>
    <td>Roberto Vazquez</td>
  </tr>
</table>
	<footer>
      <p>Derechos de autor © 2023 - Pet strore - Diseñado por Grupo 45 - Jujuy - República Argentina</p>
    </footer>
</body>
</html>
