<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Servicios de paseos</title>
</head>
<body>
	<table border="1">
  <tr>
    <th>Dia</th>
    <th>Lunes</th>
    <th>Martes</th>
    <th>Miércoles</th>
    <th>Jueves</th>
    <th>Viernes</th>
    <th>Sábado</th>
  </tr>
  <tr>
    <td>Horarios</td>
    <td>9 a 12 - 16 a 18</td>
    <td>9 a 12 - 16 a 18</td>
    <td>9 a 12 - 16 a 18</td>
    <td>9 a 12 - 16 a 18</td>
    <td>9 a 12 - 16 a 18</td>
    <td>9 a 12 - 16 a 18</td>
  </tr>
  <tr>
    <td>Paseador</td>
    <td>Juan Perez</td>
    <td>Lucas Diaz</td>
    <td>Juan Perez</td>
    <td>María Gomez</td>
    <td>Lucas Diaz</td>
    <td>Roberto Vazquez</td>
  </tr>
</table>

</body>
</html>
