<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Servicios de paseos</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
	</head>
	
	<body>
		<h1>Servicio de Paseo</h1>
		<header th:replace="~{layouts/header :: header}"></header>
		<nav th:replace="~{layouts/nav :: nav}"></nav>
		
		
		<table border="1" id="mi-tabla">
	  <tr>
	    <th>Dia</th>
	    <th>Lunes</th>
	    <th>Martes</th>
	    <th>Miércoles</th>
	    <th>Jueves</th>
	    <th>Viernes</th>
	    <th>Sábado</th>
	  </tr>
	  <tr>
	    <td>Horarios</td>
	    <td>9 a 12 - 16 a 18</td>
	    <td>9 a 12 - 16 a 18</td>
	    <td>9 a 12 - 16 a 18</td>
	    <td>9 a 12 - 16 a 18</td>
	    <td>9 a 12 - 16 a 18</td>
	    <td>9 a 12 - 16 a 18</td>
	  </tr>
	  <tr>
	    <td>Paseador</td>
	    <td>Juan Perez</td>
	    <td>Lucas Diaz</td>
	    <td>Juan Perez</td>
	    <td>María Gomez</td>
	    <td>Lucas Diaz</td>
	    <td>Roberto Vazquez</td>
	  </tr>
	</table>
	
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>
