<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	  <head>
	    <title>Sucursales</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
	  </head>
	  
	  <body>
	  	<h1>Sucursales</h1>
		<header th:replace="~{layouts/header :: header}"></header>
	 	<nav th:replace="~{layouts/nav :: nav}"></nav>
	 	<a th:href="@{/sucursales/nueva}">Nueva Sucursal</a>
	    <table border="1"  id="mi-tabla2">
	    
	        <tr>
	          <th >Sucursal</th>
	          <th>Dirección</th>
	          <th>Teléfono</th>
	          <th>Horarios</th>
	          <th>Horarios Sabados</th>
	          <th>Codigo Sucursal</th>
	          <!--<th>Fecha de Inicio</th>-->
	          </tr>
	     
	     
	        <tr th:each="sucu: ${sucursales}">
	          <td th:text="${sucu.NombreSucursal}"></td>
	          <td th:text="${sucu.direccion}"></td>
	          
	          <td th:text="${sucu.telefono}"></td>
	          <td>Lunes a Viernes: <span th:text="${sucu.horaLunesViernes}"></span></td>
	          <td>Sábados: <span th:text="${sucu.horaSabados}"></span></td>
	          <td><span th:text="${sucu.codigoSucursal}"></span></td>
	         <!--<td th:text="${sucu.fechaInicio}"></td>-->
	          <td><a th:href="@{/sucursales/modificar/}+${sucu.codigoSucursal}">Editar Sucursal</a><br><br>
	    		  <a th:href="@{/sucursales/eliminar/}+${sucu.codigoSucursal}">Eliminar Sucursal</a><br><br></td>
	          
	        </tr>
	      
	    </table>
	    
	    
	   
	    <footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>
