<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	  <head>
	    <title>Sucursales</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
	  </head>
	  
	  <body>
	  	<h1>Sucursales</h1>
		<header th:replace="layouts/header :: header"></header>
	 	<nav th:replace="layouts/nav :: nav"></nav>
	    <table border="1" cellpadding="10" cellspacing="0" id="mi-tabla2">
	      <thead>
	        <tr>
	          <th>Sucursal</th>
	          <th>Dirección</th>
	          <th>Teléfono</th>
	          <th>Horarios</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td>Sucursal 1</td>
	          
	          <td>Av. General Belgrano 391</td>
	          
	          <td>3884569762</td>
	          <td>Lunes a Viernes: 9am - 8pm<br>Sábados: 9am - 12:30pm</td>
	        </tr>
	        <tr>
	          <td>Sucursal 2</td>
	          <td>Av Forestal 330</td>
	          <td>3885225777</td>
	          <td>Lunes a Viernes: 8am - 8pm<br>Sábados: 8am - 12pm</td>
	        </tr>
	        <tr>
	          <td>Sucursal 3</td>
	          <td>Av Irigoyen 234</td>
	          <td>3884669234</td>
	          <td>Lunes a Viernes: 8:30am - 8pm<br>Sábados: Cerrado</td>
	        </tr>
	      </tbody>
	    </table>
	    <footer th:replace="layouts/footer :: footer"></footer>
	</body>
</html>
