<!DOCTYPE html>
<html lang="es">
  <head>
  	<meta charset="UTF-8">
    <title>Sucursales</title>
  </head>
  <body>
  <nav>
      <ul>
        <li style="display: inline-block"><a href="index.html">Inicio</a></li>
        <li style="display: inline-block"><a href="Productos.html">Productos</a></li>
        <li style="display: inline-block"><a href="Consejos_de_salud.html">Consejos de Salud</a></li>
        <li style="display: inline-block"><a href="Servicio_de_paseos.html">Servicio de Paseos</a></li>
        <li style="display: inline-block"><a href="Sucursales.html">Sucursales</a></li>
        <li style="display: inline-block"><a href="Contactanos.html">Contáctanos</a></li>
      </ul>
    </nav>
    <h1>Sucursales</h1>
    <table border="1" cellpadding="10" cellspacing="0">
      <thead>
        <tr>
          <th>Sucursal</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Horarios</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sucursal 1</td>
          
          <td>Av. General Belgrano 391</td>
          
          <td>3884569762</td>
          <td>Lunes a Viernes: 9am - 8pm<br>Sábados: 9am - 12:30pm</td>
        </tr>
        <tr>
          <td>Sucursal 2</td>
          <td>Av Forestal 330</td>
          <td>3885225777</td>
          <td>Lunes a Viernes: 8am - 8pm<br>Sábados: 8am - 12pm</td>
        </tr>
        <tr>
          <td>Sucursal 3</td>
          <td>Av Irigoyen 234</td>
          <td>3884669234</td>
          <td>Lunes a Viernes: 8:30am - 8pm<br>Sábados: Cerrado</td>
        </tr>
      </tbody>
    </table>
    
    <footer>
      <p>Derechos de autor © 2023 - Pet strore - Diseñado por Grupo 45 - Jujuy - República Argentina</p>
    </footer>
  </body>
</html>
