
<!--
El siguiente código HTML representa un fragmento de código llamado "aside.html". Este fragmento se repite en todas las páginas del sitio web y se utiliza como un layout común.
En este fragmento, se define una estructura de navegación en el aside del sitio web. Se utiliza un elemento `aside` con una clase "aside" y estilos de diseño. Dentro del `aside`, se encuentra un párrafo (`p`) que muestran noticias en etiquetas.
-->
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<aside class="col-4" th:fragment="aside">
	<div class="row text-dark contacto-estilo ms-3 mt-3">
	<div >
		<p class="row contacto-estilo-titulo p-2 fs-4 text-light">Noticias!</p>
	</div>
	<br></br>
	<article>
		<p>Accedé a la más amplia variedad de productos al mejor precio del mercado: ¡Alimento balanceado, accesorios, golosinas, juguetes y mucho más! Recibilos en la comodidad de tu hogar en cualquier punto del país o retiralos en tu sucursal preferida.</p>
	</article>
	<article>
		<p>Dias de vacunacion
		Nos enfocamos en la prevención, impulsando los mejores hábitos para su bienestar general. Para ello contamos con profesionales veterinarios experimentados</p>
	</article>
	</div>
	</aside>

</html>