<!-- nav.html es una fragmento de codigo que se repite en todas las paginas, por eso se la vuelve un layaut-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
    </head>
	<body>
	<header th:fragment="header">
	
		<div class="container">
			<div class="row justify-content-center">
				<img  class="img-fluid" th:src="@{/images/petstore.jpg}" alt="PetStore" title="PetStore">
			</div>
		</div>
		
	</header>
   		
   			
    </body>
</html>