<!-- nav.html es una fragmento de codigo que se repite en todas las paginas, por eso se la vuelve un layaut-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
    </head>
	<body>
   		<nav class="navbar bg-body-tertiary " th:fragment="nav">
  		<!-- Navbar content -->
  				<form class="container-fluid justify-content-start">
    				<a class="btn btn-outline-success me-2 nav-botones-color" th:href="@{/index}">Inicio</a>
    				<a class="btn btn-sm btn-outline-secondary me-1 " type="button" th:href="@{/productos/listado}" >Productos</a>
    				<a class="btn btn-sm btn-outline-secondary me-1" type="button" th:href="@{/consejos}" >Consejos de salud</a>
    				<a class="btn btn-sm btn-outline-secondary me-1" type="button" th:href="@{/empleados}" >Servicio de Paseo</a>
    				<a class="btn btn-sm btn-outline-secondary me-1" type="button" th:href="@{/sucursales/listado}" >Sucursales</a>
    				<a class="btn btn-sm btn-outline-secondary me-1" type="button" th:href="@{/contacto}" >Contacto</a>
  				</form>
		</nav>

   	</body>
</html>