<!-- nav.html es una fragmento de codigo que se repite en todas las paginas, por eso se la vuelve un layaut-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
    </head>
	<body>
   		<nav  th:fragment="nav">
			<ul>
				<li style="display: inline-block"><a th:href="@{/index}" >Inicio</a></li>	
				<li style="display: inline-block"><a th:href="@{/productos/listado}" >Productos</a></li>	
				<li style="display: inline-block"><a th:href="@{/consejos}" >Consejos de salud</a></li>	
				
				<li style="display: inline-block"><a th:href="@{/servicios}" >Servicio de Paseo</a></li>	
				<li style="display: inline-block"><a th:href="@{/sucursales/listado}" >Sucursales</a></li>	
				<li style="display: inline-block"><a th:href="@{/contacto}" >Contacto</a></li>	
			</ul>
		</nav>
   	</body>
</html>